@{
    ViewData["Title"] = "HomePage";
}

<h1>Welcome to the Claim Management System</h1>

<button onclick="location.href='@Url.Action("Lecturer", "Home")'">Lecturer</button>
<button onclick="location.href='@Url.Action("Manager", "Home")'">Manager</button>